<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.gigabox.admin.mapper.AdminMapper">
	
	<resultMap type="admin" id="adminResultMap">
		<result property="adminNumber" column="ADMIN_NUMBER" />
		<result property="adminId" column="ADMIN_ID" />
		<result property="adminPw" column="ADMIN_PW" />
	</resultMap>
	
	<select id="idCheck" parameterType="admin" resultType="int">
		SELECT COUNT(*) 
		FROM TBL_ADMIN 
		WHERE ADMIN_ID = #{adminId}  
	</select>
	
	<select id="pwEncryptionCheck" parameterType="admin" resultType="int">
		SELECT COUNT(*) 
		FROM TBL_ADMIN 
		WHERE ADMIN_ID = #{adminId} AND ADMIN_PW = #{adminPw}  
	</select>
	
	<update id="pwEncryptionExec" parameterType="admin">
		UPDATE TBL_ADMIN 
		SET ADMIN_PW = #{adminPw} 
		WHERE ADMIN_ID = #{adminId} 
	</update>
		
	<select id="login" resultType="admin" resultMap="adminResultMap">
		SELECT ADMIN_ID, ADMIN_PW 
		FROM TBL_ADMIN 
		WHERE ADMIN_ID = #{adminId}  
	</select>
	
	<update id="autoLogin">
		UPDATE TBL_ADMIN 
		SET SESSIONKEY = #{sessionId}, SESSIONLIMIT = #{next} 
		WHERE ADMIN_ID = #{adminId} 
	</update>
	
	<select id="checkAdminWithSessionKey" resultType="admin" resultMap="adminResultMap">
		<![CDATA[
		SELECT * 
		FROM TBL_ADMIN 
		WHERE SESSIONKEY = #{value} AND SESSIONLIMIT > SYSDATE 
		]]>
	</select>
	
</mapper>