<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.gigabox.admin.admin.vo.AdminVO" alias="admin"/>
		<typeAlias type="com.gigabox.admin.movie.vo.MovieVO" alias="movie"/>
		<typeAlias type="com.gigabox.admin.user.vo.UserVO" alias="user"/>
		<typeAlias type="com.gigabox.admin.cinema.vo.BranchVO" alias="branch"/>
		<typeAlias type="com.gigabox.admin.cinema.vo.MovieroomVO" alias="movieroom"/>
		<typeAlias type="com.gigabox.admin.cinema.vo.ScheduleVO" alias="schedule"/>
		<typeAlias type="com.gigabox.admin.cc.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.gigabox.admin.cc.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.gigabox.admin.cc.vo.InquiryVO" alias="inquiry"/>
		<typeAlias type="com.gigabox.admin.reservation.vo.ReservationVO" alias="reservation"/>
		
		<typeAlias type="com.gigabox.admin.stat.vo.UserStatVO" alias="userStat" />
		<typeAlias type="com.gigabox.admin.stat.vo.BranchStatVO" alias="branchStat" />
		<typeAlias type="com.gigabox.admin.stat.vo.MovieStatVO" alias="movieStat" />
	</typeAliases>
	
</configuration>
