<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.gigabox.admin.mapper.NoticeMapper">
	
	<resultMap type="notice" id="noticeResultMap">
		<result property="noticeNumber" column="NOTICE_NUMBER" />
		<result property="adminNumber" column="ADMIN_NUMBER" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeContent" column="NOTICE_CONTENT" />
		<result property="noticeRegisterdate" column="NOTICE_REGISTERDATE" />
		<result property="noticeBranchname" column="NOTICE_BRANCHNAME" />
		<result property="noticeStatus" column="NOTICE_STATUS" />
	</resultMap>
	
	<select id="noticeList" resultType="notice" resultMap="noticeResultMap">
		SELECT * 
		FROM 
		(
			SELECT LIST.*, ROWNUM AS RNUM 
			FROM 
			(
				SELECT NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGISTERDATE, 
				NOTICE_BRANCHNAME, NOTICE_STATUS 
				FROM TBL_NOTICE 
				WHERE 1 = 1
				<if test="searchType == 't'.toString()">
					AND NOTICE_TITLE LIKE '%' || #{searchKeyword} || '%' 
				</if>
				<if test="searchType == 'c'.toString()">
					AND NOTICE_CONTENT LIKE '%' || #{searchKeyword} || '%' 
				</if>
				<if test="searchType == 'tc'.toString()">
					AND (NOTICE_TITLE LIKE '%' || #{searchKeyword} || '%'
						OR NOTICE_CONTENT LIKE '%' || #{searchKeyword} || '%' )  
				</if>
				<if test="searchType == 'b'.toString()">
					AND NOTICE_BRANCHNAME LIKE '%' || #{searchKeyword} || '%' 
				</if>
				
				ORDER BY NOTICE_STATUS DESC, NOTICE_REGISTERDATE DESC  
			) LIST 
		) 
		<where>
			RNUM BETWEEN #{pageStart} AND #{pageEnd} 
		</where>
		
	</select>
	
	<select id="noticeListCount" resultType="int">
		SELECT NVL(COUNT(1), 0) 
		FROM 
		(
			SELECT LIST.*, ROWNUM AS RNUM 
			FROM 
			(
				SELECT NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGISTERDATE, 
					NOTICE_BRANCHNAME, NOTICE_STATUS
					FROM TBL_NOTICE  
					WHERE 1 = 1 
					<if test="searchType == 't'.toString()">
						AND NOTICE_TITLE LIKE '%' || #{searchKeyword} || '%' 
					</if>
					<if test="searchType == 'c'.toString()">
						AND NOTICE_CONTENT LIKE '%' || #{searchKeyword} || '%' 
					</if>
					<if test="searchType == 'tc'.toString()">
						AND (NOTICE_TITLE LIKE '%' || #{searchKeyword} || '%'
							OR NOTICE_CONTENT LIKE '%' || #{searchKeyword} || '%' )  
					</if>
					<if test="searchType == 'b'.toString()">
						AND NOTICE_BRANCHNAME LIKE '%' || #{searchKeyword} || '%' 
					</if>
			) LIST 
		)
	</select>
	
	<select id="noticeDetail" parameterType="int" resultType="notice" resultMap="noticeResultMap">
		SELECT NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGISTERDATE, 
		NOTICE_BRANCHNAME, NOTICE_STATUS 
		FROM TBL_NOTICE 
		WHERE NOTICE_NUMBER = #{noticeNumber} 
	</select>
	
	<insert id="noticeInsert" parameterType="notice">
		<selectKey keyProperty="adminNumber" resultType="int" order="BEFORE">
			SELECT ADMIN_NUMBER FROM TBL_ADMIN WHERE ADMIN_ID = 'admin' 
		</selectKey>
		INSERT INTO TBL_NOTICE (
		  NOTICE_NUMBER, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGISTERDATE, 
		NOTICE_BRANCHNAME, NOTICE_STATUS, ADMIN_NUMBER ) 
		VALUES (
		  SEQ_NOTICE.NEXTVAL, #{noticeTitle}, #{noticeContent}, 
		  SYSDATE, #{noticeBranchname}, #{noticeStatus}, #{adminNumber}  
		  ) 
	</insert>
	
	<update id="noticeUpdate" parameterType="notice">
		UPDATE TBL_NOTICE 
		SET 
		  NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT = #{noticeContent}, 
		  NOTICE_BRANCHNAME = #{noticeBranchname}, NOTICE_STATUS = #{noticeStatus} 
		WHERE NOTICE_NUMBER = #{noticeNumber}  
	</update>
	
	<delete id="noticeDelete" parameterType="notice">
		DELETE FROM TBL_NOTICE 
		WHERE NOTICE_NUMBER = #{noticeNumber} 
	</delete>
	
</mapper>